/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,600");

/* VARIABLES */

:root {
  --background-color: #fff;
  --font-color: #394b59;
  --link-color: #0532ff;
  --primary-color: #0532ff;
  --secondary-blue: #1532b2;
  --light-green: #6dcc18;
  --dark-green: #5bb20c;
  --warning-red: #ff541e;
  --page-max-width: 1000px;
}

/* GLOBAL CSS */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 1rem;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--background-color);
  color: var(--font-color);
  min-height: 100vh;
  margin: 0;
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
